
<!--<app-login></app-login>
<app-users-list></app-users-list>-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-offset-4 col-md-4 col-sm-offset-4 col-sm-4">
            <app-databinding></app-databinding>
            <app-eventbinding></app-eventbinding>
            <app-twowaybinding></app-twowaybinding>
            <app-demoexample></app-demoexample>
            <app-intercomm></app-intercomm>
            <app-lifecycleindex></app-lifecycleindex>
        </div>
    </div>
</div>
